HtmlAgilityPackWindowsFormsApp1/Connected Services/NLPIRService/RootService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatatable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatatableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDatatableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execyu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecyuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecyuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="participle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="participleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonWords" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonCixings" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsWeights" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonContents" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelWordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSameWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonWords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSameWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSameWordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSameWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonWords" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSameWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSameWordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSameWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSameWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSameWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustumWords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustumWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllCustumWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fSumRate" type="xs:float" />
        <xs:element minOccurs="0" name="iSumLen" type="xs:int" />
        <xs:element minOccurs="0" name="bHtmlTagRemove" type="xs:boolean" />
        <xs:element minOccurs="0" name="nEncoding" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSummaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSummaryE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zhaiyao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fSumRate" type="xs:float" />
        <xs:element minOccurs="0" name="iSumLen" type="xs:int" />
        <xs:element minOccurs="0" name="bHtmlTagRemove" type="xs:boolean" />
        <xs:element minOccurs="0" name="nEncoding" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSummaryEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSummaryEResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMaxKeyLimit" type="xs:int" />
        <xs:element minOccurs="0" name="bWeightOut" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNewWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileNewWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="textFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMaxKeyLimit" type="xs:int" />
        <xs:element minOccurs="0" name="bWeightOut" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileNewWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFileNewWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeyExtracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sLine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMaxKeyLimit" type="xs:int" />
        <xs:element minOccurs="0" name="bWeightOut" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeyExtractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getKeyExtractsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileKeyExtracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nMaxKeyLimit" type="xs:int" />
        <xs:element minOccurs="0" name="bWeightOut" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileKeyExtractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFileKeyExtractsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyExtract_ImportUserDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFilename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyExtract_ImportUserDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeyExtract_ImportUserDictResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyExtract_ImportUserDict2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bOverwrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyExtract_ImportUserDict2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeyExtract_ImportUserDict2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getclassifier_exec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getclassifier_execResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getclassifier_execResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getclassifier_detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getclassifier_detailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getclassifier_detailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>